@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;700&display=swap');

$colorWhite: #FFFAFA;
$colorBlack: #000;
$colorBlue: #0d47a1;

$mainFont: 'Andada Pro', serif;

.container{
    z-index: 1;
    position: relative;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color: $colorWhite;
}

h2{
    color: $colorBlack;
}
